@import "../../css/variables";

.home {
  padding: 1em;
  display: flex;
  justify-content: center;
  > * {
    max-width: 700px;
  }
  h1 {
    font-weight: 700;
  }
  .rating {
    margin-top: 4em;
  }
  .bottom-margin {
    margin-bottom: 3em;
  }
  .feedback {
    text-align: end;
    > button {
      background-color: $primary-color;
      border: none;
      border-radius: 999px;
      padding: 0.6em 1em;
      color: white;
      border-bottom-right-radius: 0;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .primary-text {
    color: $primary-color;
  }
  .single-rating-result {
    display: flex;
    .filler {
      flex-grow: 1;
      margin: 0 2px;
      border-bottom: 1px dotted black;
    }
    h4{
      margin-bottom: 0;
    }
  }
}
@media (min-width: 600px) {
  .home {
    padding: 2em;
  }
}
