.rating-group {
  .group {
    .criterion {
      display: flex;
      flex-direction: column;
      gap: 1em;
      * {
        width: 100%;
      }
    }
    .criterion + .criterion {
      margin-top: 2em;
    }
    @media (min-width: 600px) {
      .criterion {
        flex-direction: row;
        align-items: center;
      }
    }
  }
  .group + .group {
    margin-top: 2em;
  }
}
